.imgdp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* border: 1px solid; */
    background-color: green;
    background-image: url(../../img/i\ am.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}